

.example-spacer{
    flex: 1 1 auto;
}

.toolbar{
    background-color: #EA5420;
    color: #FFF;

}

svg{
    width: 1em;
    height: auto;
    margin-right: 0.5em;
}

.menu{
    text-align: center;
}