<header>
    <!-- Este es el pie de paguina -->
    <div class="menu-responsive">
        <div class="inner-width">
            <a href="/" class="logo"><img src="../../../../assets/img/paguina.png" alt=""></a>
            <i class="menu-toggle-btn fas fa-bars"></i>
            <nav class="navigation-menu">
                <a href="#"><i class="texto"></i>Saber más</a>
                <a href="#"><i class="texto"></i>Servicios</a>
                <a href="#"><i class="texto"></i>Beneficios</a>
                <a href="auth/register"><i class="btn btn-danger" ><b>Registrarse</b></i></a>
                <a href="auth/login"><i class="btn btn-info text-light"><b>Iniciar</b></i></a>

            </nav>

        </div>
    </div>
    <!-- Este es el titulo pricipal y secundario -->
    <div class="titulo_paguina col-12 text-center text-light">
        <h1>
            Convirtiendo <button type="button" class="btn btn-warning text-light buttonimpeler">Negocios</button> en <button type="button" class="btn btn-warning text-light buttonimpeler">Empresas</button>
        </h1>

        <div class="texto-parrafo col-12 text-center">

            <p>
                Asesorías y Transformación Digital Ha Solo un clic.
            </p>
            <hr/>
        </div>


    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center">
                <h4>
                    Gestiona tu negocio con la única plataforma web que une la consultoría de gestión con transformación digital.
                </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <img src="../../../../assets/img/telefoos.png" width="100%" alt="">
            </div>
        </div>
    </div>

    <div class="col-12 waker">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </div>

    <div class="row"></div>
</header>


<div class="container-per">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 texto-sh text-center">
            <h2 class="tituloimpeler">
                ¿Qué es Impeler?
            </h2><br>
            <hr/>
            <p class="parrafoimpeler">IMPELER CONSULTING es un emprendimiento de base tecnológica que ofrece servicios de consultoria de gestión y aplicaciones tipo ERP a través de una plataforma web.
            </p>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../../../assets/img/undraw_Developer_activity_re_39tg.png" width="100%" alt="">
        </div>
    </div><br><br><br><br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center textoo">

            <h2 class="tituloimpeler">¿Por que elegir Impeler?</h2>
            <hr/>
            <i class="fas fa-tasks team"> <fa-icon [icon]="Tasks"></fa-icon> </i>
            <br> <p class="parrafoimpeler"> Te permite conocer el estado actual de tu modelo de negocio atraves de un <b>Diagnostico Organizacional</b>.</p>
            <hr/>
            <i class="fas fa-chart-pie about"> <fa-icon [icon]="CharPie"></fa-icon></i>
            <p class="parrafoimpeler">Orienta tu negocio de forma segura y eficiente a través de herramientas de gestión empresarial "<b>Consultoria de Gestión</b>"".</p>
            <hr/><br>
            <i class="fas fa-microchip works"> <fa-icon [icon]="Microchip"></fa-icon></i>
            <p class="parrafoimpeler">Puedes gestionar tu negocio a través de aplicaciones web tipo ERP.</p>
            <hr/><br>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../../../assets/img/undraw_product_iteration_kjok.png" width="100%" alt="">
        </div>
    </div><br><br><br><br>
</div>

<div style="height: 150px; overflow: hidden;" class=""><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 145, 0);"></path></svg></div>

<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 texto-sh22222 text-center">
                <h2 class="titulovalor">Nuestra propuesta de valor</h2><br>
                <b><h3 class="btn btn-warning texttitulo">Precio</h3></b><br><br>
                <p class="textovalor">Acompañamos a nuestros clientes en la evolución de negocio a empresa con precios accesibles.</p><br><br>
                <b><h3 class="btn btn-warning texttitulo">Novedad</h3></b><br><br>
                <p class="textovalor">Desarrollamos aplicaciones web tipo ERP de acuerdo a los resultados que se obtienen de la consultoria de gestión.</p><br><br>
                <b><h3 class="btn btn-warning texttitulo">Redocción de Riesgo</h3></b><br><br>
                <p class="textovalor">Garantizamos a nuestros clientes la correcta funcionalidad de las herramientas de gestión y aplicaciones web.</p><br><br>

            </div>

        </div>

    </div>
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>

</div>

<div class="redes">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-warning texttitulo" type="button" (click)="navigateRegister()">Regístrate</button><br><br><br><br><br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="text-comunicacion text-center">
                    <h5 class="comunicate">
                        <b>
                Comunicate con Nosotros por:
            </b>
                    </h5>
                </div>
                <div class="sm">
                    <a href="https://www.facebook.com/profile.php?id=100072408196792"><i class="fab fa-facebook"> <fa-icon [icon]="Facebook" class="facebook"></fa-icon> </i></a>
                    <a href="https://www.instagram.com/impelerconsulting/"><i class="fab fa-instagram"><fa-icon [icon]="Instagram" class="instagram"></fa-icon></i></a>
                    <a href="https://www.linkedin.com/company/impelerconsulting/"><i class="fab fa-linkedin-in"><fa-icon [icon]="Linkedin" class="linkedin"></fa-icon></i></a>
                    <a href="https://www.youtube.com/channel/UCZrvZ1Hb8Ha2hv8_9WwdkpA"><i class="fab fa-youtube"><fa-icon [icon]="YouTube" class="youtube"></fa-icon></i></a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".menu-toggle-btn").click(function() {
        $(this).toggleClass("fa-times");
        $(".navigation-menu").toggleClass("active");
    });
</script>
