<app-toolbar></app-toolbar>

<div class="contenedor">
    <mat-card>
        <mat-card-title>Clientes</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porCliente">
        </mat-progress-spinner>
        <span> {{porCliente}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Propuesta de valor</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porProValor">
        </mat-progress-spinner>
        <span> {{porProValor}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Recusros Clave</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porReClave">
        </mat-progress-spinner>
        <span> {{porReClave}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Actividades Clave</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porActClave">
        </mat-progress-spinner>
        <span> {{porActClave}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Fuente de ingresos</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porFuenteIngreso">
        </mat-progress-spinner>
        <span> {{porFuenteIngreso}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Canales de Distribución - Comunicación</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porCanal">
        </mat-progress-spinner>
        <span> {{porCanal}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Relaciones con los clientes</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porRelClient">
        </mat-progress-spinner>
        <span> {{porRelClient}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Asociaciones Clave</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porAsoClave">
        </mat-progress-spinner>
        <span> {{porAsoClave}}% </span>
    </mat-card>
    
    <mat-card>
        <mat-card-title>Estructura de costes</mat-card-title>
    
        <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="determinate"
            [value]="porEstrCost">
        </mat-progress-spinner>
        <span> {{porEstrCost}}% </span>
    </mat-card>
</div>




